// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #FF9F1E;
$green: #1BBC9D;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-purple: #010E22;
$light-purple: #1B2739;
$grey-font:#8F99B7;
$white-font:#FFFFFF ;
$light-blue: #9fbfff;
