<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for joininng Willit</h1>
    <p>
      Here is your information about your Ceremonies <br>
    </p>

    <p>Thanks for joining and have a great day!</p>
    <p> your Willit team </p>
    <img src="https://i.ibb.co/0GgyjY7/willit-logo.png" alt="willit-logo" >
  </body>
</html>
