<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for joininng Willit</h1>
    <p>
      Here is your information about your valuables <br>
    </p>

 <% @valuables.each do |valuable| %>
   <p>The title is, <%= valuable.title %></p>
   <p>The value of the valuable is, <%= valuable.value %></p>
   <p>The description you have for the valuable is, <%= valuable.description %></p>
 <% end %>

    <p>Thanks for joining and have a great day!</p>
    <p> your Willit team </p>
    <img src="https://i.ibb.co/0GgyjY7/willit-logo.png" alt="willit-logo" >
  </body>
</html>


