// Specific CSS for your home-page
.container{
  background-color: rgb(1, 14, 34);
  color: white;
  height: 900px;
}
.card {
  height: 150px;
  width: calc(50% - 20px);
  margin: 10px;
  border-color: black;
}

.green {

}

.card-padding {
  padding: 5px;
}

.no-margin {
  margin-left: 0;
  margin-right: 0;
}

.max-card-width {
  max-width: 550px;
}

.home_img{
  width: 100%;
}

.card-body{
  padding: 0px;
  background-color: black;
  border-radius:20px
}

.active{

}
