// Specific CSS for your home-page
.container{
  // background-color: rgb(1, 14, 34);
  background: linear-gradient(45deg, rgba(1,14,34,1) 0%, rgba(1,14,34,1) 44%, rgba(24,36,55,1) 74%);
  color: white;
  height: 900px;

}

.card {
  width:100%;
  border-radius: 20px;
  border-color: black;
  background-color: black;
  margin-bottom: 10px;
}

.card-wrapper {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 40px;
}


.card-body{
  padding: 0px;
  background-color: rgb(47,52,74);
  border-radius: 0 0 20px 20px;
  padding: 10px 25px;
  a {
    color: white;
  }
}

.header2 {
  text-align: center;
  margin: 15px 0px 0px 0px
}

.home-img{
  height: 150px;
  width: 150px;
  border-radius:20px 20px 0 0;
  background-size: cover;
}

