.container{
  background-color: rgb(1, 14, 34);
  color: white;
  height: 900px;

}

.card {
  width:100%;
  border-radius: 20px;
  border-color: black;
  background-color: black;
  margin-bottom: 10px;
}

.card-wrapper {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 40px;
}


.card-body{
  padding: 0px;
  background-color: rgb(47,52,74);
  border-radius: 0 0 20px 20px;
  padding: 10px 25px;
  a {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
}

.header2 {
  text-align: center;
  margin: 15px 0px 0px 0px

}

.home-imgs{
  height: 150px;

  border-radius:20px 20px 0 0;
  background-size: cover;
}

.collections{

}

.electorincs{


}

.housewares{

}

.jewelry {

}

.vehicles{

}
