
<% if user_signed_in? %>
<div class="footer">
            <%= link_to image_tag("home.png", size: 40), dashboard_path %>
            <h2>Willit</h2>
            <div class="btn-group dropleft">
              <img class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" src ="https://res.cloudinary.com/dhkfntyfw/image/upload/v1582192180/profile_gwlgpd.png" height="40" width="40"/>
                <div class="dropdown-menu" id="getting-wild">
                  <%= link_to "view profile", profile_path, class: "dropdown-item" %>
                  <%= link_to "log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </div>
              </div>
  </div>
<% end %>
