<div class = "container1">
  <div>
    <%= image_tag('relations.png',class:'top_image')%>
  </div>

  <div class ="purple_box">
      <li><%= link_to 'Add a Relation', new_contact_path %><li>
      <li><%= link_to 'View Your Relations', contacts_path %><li>
  </div>

</div>
