
.cards-grid-val{
    grid-template-columns: 1fr 1fr;
    grid-row: 2 / span 1;
    grid-column: 2/ span 1;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-valuable {
  grid-column: 2/ span 1;
  text-align: center;
  padding: 10px;
}

.card-valuable1 {
  grid-column: 3/ span 1;
  text-align: center;
  padding: 10px;
}

.card-valuable > img {
  object-fit: cover;

}

.card-valuable1 > img {
  object-fit: cover;
  display:inline-block;

}

.card-valuable h2{
  font-size:16px;
  display:inline-block
}

.card-valuable1 h2{
  font-size:16px;
}

.container-val{

}

.back{
  margin-left:20px;
  margin-right:20px;
  padding-top:15px;
  padding-bottom:15px;
  border-radius: 50%;
  color:white;
}

.btn {
    color: white;
}

.back-item{
  background-color: white;
  padding:20px;
  border-radius: 50%;
  margin-left:60px;
  margin-right:60px;
}

.item_link {
  background: radial-gradient(circle, rgba(159,191,255,1) 0%, rgba(3,18,41,1) 100%);
  line-height: 100px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,1);
  width: 100px;
  height: 100px;
  margin: 10px;
}

.card {
  width:100%;
  border-radius: 20px;
  border-color: black;
  background-color: black;
  margin-bottom: 10px;
}

.val_item_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 40;
}

.everything{
  grid-column: 2 /span 1;
}


.item_link{
  position:relative;
  margin:25px;
  display: flex;
  justify-content: center;
}

.valuable_text{
  position:absolute;
  bottom:-87px;
}

.header2 {
  text-align: center;
  margin: 15px 0px 0px 0px

}

.home-imgs{
  width: 150px;
  height: 150px;

  border-radius:20px 20px 0 0;
  background-size: cover;
}

.modal {
   position:fixed;
   top:auto;
   right:auto;
   left:auto;
   bottom:0;


}

.modal-dialog {
   position:fixed;
   top:auto;
   right:70px;
   left:auto;
   bottom:0px;
   width:250px;
   border-radius: 15px;
}

.modal-content{
  background-color: rgb(1, 14, 34);
  border-color:white;
 a {
   color: white;
   font-size: 15px;
   font-weight: bold;
 }
}

.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

.btn {
color:white;
padding: 0 0 0 0px;
}

.card-product {
  overflow: hidden;
  background-color: #2E394E;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius:20px;

}

.card-product img {
  height: 100%;
  width: 80px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: center;
}

.card-product .card-product-infos {
  padding: 16px;

}

.cards{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 2 auto;
  justify-content: space-around;
}
