.bnt{
  display: flex;
  justify-content: center;
  margin-left:10px;
}

.review{
text-align: left;
}

.custom-link {
  text-decoration: none !important;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  width:100%;
  background:$green;
  transition: background 0.3s ease;
  margin-top:10px;
  margin-bottom:10px;
}

i {
  color: white;
}

h2 {

  font-size: 20px;
}

a {

  color: white;
}


.imgs{
  text-align: center;
}
