.body{
  padding:0;
}

.top_image{
  // adjusted height for new images
  height: 300px;
  width:100%;
  object-fit:cover;
}

.container2 h4{
  grid-row: 1 / span 1;
  grid-column: 2/ span 1;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #8F99B7;
}

.container1{
  display:grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
}

.container2{
  display:grid;
  grid-template-columns: 40px 1fr 40px;
}

.progress_notes{
  grid-row: 1 / span 1;
  grid-column: 2/ span 1;
}

form {
  grid-row: 2 / span 1;
  grid-column: 2/ span 1;
}

.review {
  grid-row: 2 / span 1;
  grid-column: 2/ span 1;
  padding: 20px;
  background-color: #2E394E;
}

.review li{
  list-style-type: none;
  color: $dark-purple;
  text-align: left;
  padding-top: 15px;
  display:flex;
  justify-content: space-between;
}

.purple_box{
  background: $dark-purple;
  padding-top: 30px;
}
