.alert {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 0;
    border-radius: 0;
}

.alert-success{
  padding: 10px;
  position: relative;
}

.alert-success{
    color: #107347;
    background-color: $dark-purple;
    border: 0px solid white;
    text-align: center;
}

.alert-success body{
    line-height: 0;
}

.alert-danger{
  padding: 10px;
  position: relative;
}

.btn-ghost {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background:#7b8e85;
  transition: background 0.3s ease;
  margin-top:20px;
  margin-bottom:20px;
}

.greenButton {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  width:100%;
  background:$green;
  transition: background 0.3s ease;
  margin-top:10px;
  margin-bottom:10px;
}

.btn-ghost:hover {
  opacity: 1;
}

.success-checkmark {
  border: 0px solid $dark-purple;
  background: $dark-purple;
   display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;

    .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #1bbc9d;

        &::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }

        &::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }

        &::before, &::after {
            content: '';
            height: 100px;
            position: absolute;
            background: $dark-purple;
            transform: rotate(-45deg);
        }

        .icon-line {
            height: 5px;
            background-color: #1bbc9d;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;

            &.line-tip {
                top: 46px;
                left: 14px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }

            &.line-long {
                top: 38px;
                right: 8px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }
        }

        .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid rgba(76, 175, 80, .5);
        }

        .icon-fix {
            top: 8px;
            width: 5px;
            left: 26px;
            z-index: 1;
            height: 85px;
            position: absolute;
            transform: rotate(-45deg);
            background-color: $dark-purple;
        }
    }
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}
