body{
  color:white;
}

select{
  padding:10px;
}

label{
  font-weight:lighter;
}

.inner_container{
  padding:20px;
}

.form-control {
  background-color: #2E394E;
  box-shadow: -5px 3px 18px -6px rgba(0,0,0,0.75);
  color:white;
}

.form-group{
  padding-bottom: 20px;
}

.btn-ghost {
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  background:#F29406;
  transition: background 0.3s ease;
  margin-top:20px;
  margin-bottom:20px;
}

.btn-ghost:hover {
  opacity: 1;
}

// .burail-choices {
//   display:flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
//   margin: 20px 0;
// }

// .burial-choice {
//   padding: 20px;
//   border-radius: 5px;
//   flex: 0 0 30%;
//   text-align: center;
//   &:hover{
//     opacity: 1;
//   }
//   &:active{
//     background: white;
//     color: white;
//     opacity: 1;
//   }
// }
