body{
  color:white;
  font-size: 1.3rem !important;
}

select{
  padding:10px;
}

label{
  font-weight:lighter;
}

.form-control {
  background-color: #1b2739;
  box-shadow: -5px 3px 18px -6px rgba(0,0,0,0.75);
  color:white;
  text-align: left;
  line-height: 2 !important;
  height: calc(3em + 0.75rem + 2px) !important;
}


.form-group{
  padding-bottom: 20px;
  text-align:left;
}

// .btn-ghost {
//   color: white;
//   padding: 8px 24px;
//   border-radius: 20px;
//   background:#F29406;
//   transition: background 0.3s ease;
//   margin-top:20px;
//   margin-bottom:20px;
// }

// .btn-ghost:hover {
//   opacity: 1;
// }

.radio-selector{
  display: flex;
  flex-wrap: wrap;
}

.radios .radio {
  position: relative;
  display: block;
  // background-color: #2E394E;
  // background: rgb(143,153,183);
  // background: radial-gradient(circle, rgba(143,153,183,1) 0%, rgba(3,18,41,1) 100%);
  background: rgb(159,191,255);
  background: radial-gradient(circle, rgba(159,191,255,1) 0%, rgba(3,18,41,1) 100%);
  color: #000000;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin: 10px;
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,2);
}

.radios input[type=radio] {
    display: none;
}

.radios input[type=radio]:checked + .radio {
  background-color: #2E394E;
  color: #FFFFFF;
  line-height: 100px;
  text-align: center;
  border-radius: 48px;
  opacity: 1;
}

#test {
  position: relative;
}

