

.footer {
  background: #0c1729;
  // background: #9fbfff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top: 40px;
  position:webkit-sticky;
  position: sticky;
  bottom: 0;
  overflow: hidden;
}

.footer-links {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  color: white;
}

.footer-links a:hover {
  opacity: 1;
}

.nav-link{
  color: white;
}

