

#svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #666;
  stroke-width: 1em;
}
#svg #bar {
  stroke: #1bbc9d;
}

#cont {
  display: block;
  height: 200px;
  width: 200px;
  margin: 2em auto;
  box-shadow: 0 0 1em black;
  border-radius: 100%;
  position: relative;
}
#cont:after {
  position: absolute;
  display: block;
  height: 160px;
  width: 160px;
  left: 50%;
  top: 50%;
  box-shadow: inset 0 0 1em black;
  content: attr(data-pct)"%";
  margin-top: -80px;
  margin-left: -80px;
  border-radius: 100%;
  line-height: 160px;
  font-size: 2em;
  text-shadow: 0 0 0.5em black;
}

input {
  color: #000;
}

input#valuable_photo {
  display: inline-block;
  width: 100%;
  padding: 60px 0 0 0;
  height: 50px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('https://res.cloudinary.com/dhkfntyfw/image/upload/v1582220097/icons8-upload-to-cloud-50_swzbg5.png') center center no-repeat $light-purple;
  border-radius: 5px;
  background-size: 60px 60px;
}


/* Make things perty */
body { height: 100%; text-align: center;}
.form-control-file { border: 1.3px solid lightgray; border-radius: 5px; background: #1b2739; color: #fff; padding: 0.5em; box-shadow: none; outline: none !important; margin: 1em  auto; text-align: center;}
