<div class="container1">
    <div>
        <%= image_tag('pablo-camera-2.png', class:'top_image')%>
    </div>
    <div class="purple_box">
        <div class="container2">
            <h4>
                <%= "Add details about your #{@item}" %>
            </h4>
            <%= render "form" %>
        </div>
    </div>
</div>
